  
.main-page-container {
position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: #2F303A;
    
}
.main-page-text {
position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.header {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-left: 215px;
}

.top-button1 {
     margin-top: 32px;
     margin-bottom: 32px;
     margin-left: 93px;
     margin-right: 50px;
}   

.top-button2 {
     margin-top: 32px;
     margin-bottom: 32px;
     margin-left: 50px;
     margin-right: 50px;
}

.top-button3 {
      margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 50px;
        margin-right: 331px;
}

.email {
    margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 50px;
        margin-right: 50px
}
.phone {
    margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 50px;
        margin-right: 215px

}